{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-1 col-0"></div>
    <div class="col-lg-10 col" >
        <div class="row">
            <div class="col-lg-7 col-12" style="border-radius: 10px">
                <h1 style="color: rgb(255, 255, 255); text-align: center; font-family: 'Noto Sans', sans-serif;">Iq Test</h1>

                <div style="color: rgb(255, 255, 255); background-color: rgba(201, 201, 201, 0.459); border-radius: 10px; text-align: center; "> 
                <h4 style="padding: 10px; margin-top: 20px; ">About 20 minutes | 40 questions | 4 781 333 | 4.67</h4>
                </div>
                
                <h3 style="color: rgb(255, 255, 255); text-align: center; margin-top: 20px; font-family: 'Plus Jakarta Sans', sans-serif;">Our professional IQ test features questions that gradually increase in complexity, and it takes the completion time into
                account when calculating your result. We recommend that you free yourself from any distractions before taking the test. After completing the test, you will
                receive your IQ score relative to the population and based on world statistics.</h3>
                
                <a href="test/">
                    <div style="color: rgb(255, 255, 255); background-color: #ff8049; border-radius: 10px; text-align: center; width: 30vw; padding: 10px; margin: auto; margin-top: 20px;">
                        <h4 style="padding-top: 5px;">START TEST IQ</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-5 col-12" >
                <!-- <div style="background-color: rgba(255, 153, 0, 0.459); border-radius: 10px; height: 500px;">
                    Top IQ:
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-0"></div>
</div>
{% endblock %}
