{% extends 'main/layout.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-1 col-0"></div>
    <div class="col-lg-10 col-12" style="background-color: aliceblue;">
        <div class="col-3">Вопрос 14 / 40</div>
        <div class="row">
            <div class="col-lg-6 col-12" style="margin-bottom: 10px;">
                <div class="qcell">
                    <img src="{{task1.1.question}}" class="" alt="140">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="row">

                    <div class="col-4">
                        <div class="cell">
                            <img src="{{task1.1.answer1}}" alt="140">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="cell">
                            <img src="{{task1.1.answer2}}" alt="140">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cell">
                            <img src="{{task1.1.answer3}}" alt="140">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cell">
                            <img src="{{task1.1.answer4}}" alt="140">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cell">
                            <img src="{{task1.1.answer5}}" alt="140">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cell">
                            <img src="{{task1.1.answer6}}" alt="140">
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-2" style="margin-left: 20px; margin-top: 10px;">
               id: {{ task1.1 }}
            
            </div>


        </div>
    </div>
    <div class="col-lg-1 col-0"></div>
</div>
{% endblock %}